
	
	 .seccion{
	 	font-size: 100px;
	 	font-weight: 300;
	 	text-shadow: 4px 4px 5px #000;
	 	animation-name: cambio-color;
	 	animation-duration: 12s;
	 	animation-iteration-count: infinite;
	 }

	@keyframes cambio-color {
		0%{
			background-color:#6ECACA ;

		}

		25%{
			background-color:#0354FF ;

		}

		50%{
			background-color:#7A03FF;
		}

		75%{
			background-color:#FF0393;
		}

		100%{
			background-color:#FF0303;
		}
	}